<!DOCTYPE html>
<html ng-app="quizApp">
<head>
  <title>Dive Log (ng-controller)</title>
  <link href="./lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
  <div class="container-fluid">
    <h1>Enders Quiz</h1>
    <div class="row"
    ng-controller="quizAppCtrl">
      <div class="col-sm-4"
      ng-show="view=='preQuiz'">
        <h3>Are you ready to start the quiz?</h3>
        <button ng-click="startQuiz()">Start Quiz</button>
      </div> 

      <div 
      ng-show="view=='quiz'"
      >      
        <h2>{{state[quizNum].question}}</h2>
        <div class="col-sm-4">
        <form>
            <li ng-repeat="question in state[quizNum].answers">
              <input 
              type="radio" 
              ng-value='{{question.value}}'
              ng-model="test" 
              ng-click="setAnswer(question.value)"
              name="test" 
              class="btn btn-default" 
              >
              {{question.value}}
              </input>
              </br>  
            </li>
        </div>
        <input type="submit" name="ans" class="btn btn-default"  ng-disabled="{{selectedAns}}" ng-click="nextQuestion(test)">
          <span>{{ans}}</span>
        </form>
        <div>you are on question {{quizNum}} of 5 and have {{correctAnswers}} correct.</div>
      </div>
      <div ng-show="view=='post'">
        <div>
            <h2>you finished the quiz! you got {{correctAnswers}} questions right! try again?</h2>
              <button ng-click="restart()">restart</button>
        </div>
      </div>
    </div>   
  </div>
<script src="./lib/angular/angular.min.js"></script>
<script src="state.js"></script>
<script src="app.js"></script>
</body>
</html>
